b:root {
  --primary-color: #1081d1;
  --white-color: #ffffff;
  --light-gray-color: #777777;
  --dark-gray-color: #333330;
  --black-color: #141618;
  --gray-border-color: #eaeaea;

  --primary-fm: 'Poppins', sans-serif;
  --secondary-fm: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.active,
.dot:hover {
  background: none !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
}